/* Geral */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #2b2b2b;
}
/* Header */
.headerContainer {
  width: 75%;
  background: linear-gradient(45deg, #7a41ce 0%, #bd1d8c 100%);
  clip-path: polygon(0 0, 100% 0, 76% 63%, 0% 100%);
  min-height: 250px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.header img {
  justify-self: flex-start;
  align-self: center;
  margin-left: 60px;
}
.header nav {
  display: block;
  margin-right: 380px;
  font-size: 1.5rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.header nav a {
  color: white;
}
